
.create-mat-container h1{
    text-align: center;
}
.create-mat-container {
    margin: auto;
    width: 50%;
    background-color: #f9f9f9;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow:  7px 7px 14px #49bced,
    30px -7px 14px #ffffff;
}

.input-field {
  
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}
