body {
  background: #4d8af0;
}
.containerr{
 margin-left: 45%;
 width:900px;
 height: 600px;
 background-image: radial-gradient(circle, #1183ff, #829eff, #b6bcfe, #dedcfe, #ffffff);
 border: 2px;
border-radius: 10px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}


.profile-container {
  position: relative;
  overflow: hidden;
  border-radius: 80%; 
}

.profile-img {
  transition: transform 0.3s;
}

.profile-container:hover .profile-img {
  transform: scale(1.1);
}

.edit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 36px ;
  color: red;
}

.profile-container:hover .edit-icon {
  opacity: 1;
}

.profile-container::after {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
}

.profile-container:hover::after {
  opacity: 1;
}

.inputimg {
  /* display: none; */
  width: 86px;
  height: 100%;
  font-size: small;
}

.container-2{
  margin: 20% 0 0 10%;
  width: 100%;
}