.btn {
  background-color: #f6f6f8;
  border-radius: 6px;
  color: #428ed4;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  padding: 0.625em 0.75em;
  text-decoration: none;
  margin-left: 20%;
}

.navbar {
  width: auto;
  height: 75px;
  background-color: #357ae8;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 90px;
  padding: 0 4px;
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
  font-size: 3xl;
  margin-right: 10vw;
  margin-left: 30px;
  font-weight: 800;
  color: white;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  list-style-type: none;
}

.navbar li {
  padding: 3px 8px;
  padding-right: 4px;
  margin: 2px;
  margin-right: 3px;
  cursor: pointer;
  transition-duration: 300ms;
  margin: 70px;
  font-size: large;
  
}


.navbar li:hover {
background-color: #1FCAC5;
  
  cursor:pointer
}


/* materials */
.plan {
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
  padding: 10px;
  background-color: #fff;
  color: #697e91;
  max-width: 300px;
  margin: 15px;
  
}

.plan strong {
  font-weight: 600;
  color: #425275;
}

.plan .inner {
  align-items: center;
  padding: 20px;
  padding-top: 40px;
  background-color: #ecf0ff;
  border-radius: 12px;
  position: relative;
}

.plan .pricing {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #bed6fb;
  border-radius: 99em 0 0 99em;
  display: flex;
  align-items: center;
  padding: 0.625em 0.75em;
  font-size: 1.25rem;
  font-weight: 600;
  color: #425475;
}

.plan .pricing small {
  color: #707a91;
  font-size: 0.75em;
  margin-left: 0.25em;
}

.plan .title {
  font-weight: 600;
  font-size: 1.25rem;
  color: #425675;
}

.plan .title+* {
  margin-top: 0.75rem;
}

.plan .info+* {
  margin-top: 1rem;
}

.plan .features {
  display: flex;
  flex-direction: column;
}

.plan .features li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.plan .features li+* {
  margin-top: 0.75rem;
}

.plan .features .icon {
  background-color: #1FCAC5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.plan .features .icon svg {
  width: 14px;
  height: 14px;
}

.plan .features+* {
  margin-top: 1.25rem;
}

.plan .action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 10px;
}

.plan .button {
 
  background-color: #6558d3;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  border: 0;
  outline: 0;
  width: 100%;
  padding: 0.625em 0.75em;
  text-decoration: none;
}


.plan .button:hover {
  cursor:pointer;
  background-color: #4133B7;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
  padding-bottom: 10px;
}

/* user detail */
.card {
  margin: 15px;
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #1776ad80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  cursor:pointer;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(66, 193, 221, 0.2);
}

.card__content {
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #1f8dec;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  font-size: 28px;
  margin: 10px;
  color: #333333;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #000000;
  line-height: 1.4;
}

.container-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
margin: 30px;
}

.white_btn,
.blue_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: #7aaddb;
  border-radius: 20px;
  width: 180px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  color: white;
  text-align: center;
  text-decoration: none;
}

.white_btn:hover,
.blue_btn:hover {
  background-color: gray;
  cursor:pointer;

}

.card__avatar {
  cursor: pointer;
  margin-left: 20px;
  width: 90px;
  height: 90px;
  object-fit: cover;
}

/* teacher */
.card-client {
  margin: 10px;
  background: #357ae8;
  width: 13rem;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px solid #fff;
  box-shadow: 0 6px 10px #212121;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.card-client:hover {
  transform: translateY(-10px);
  cursor:pointer;
}

.user-picture {
  cursor: pointer;
  overflow: hidden;
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  border: 4px solid #fff;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.user-picture svg {
  width: 2.5rem;
  fill: currentColor;
}

.name-client {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.name-client span {
  display: block;
  font-weight: 200;
  font-size: 16px;
}

